:root {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  overflow-x: hidden;
  scroll-behavior: smooth;

  color: var(--color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color: #333;
  --border: #eee;
  --bolder: #ccc;
  --accent: #10ba00;
  --light: #999;
  --background: rgba(0,0,0,0.03);
  --bannerCount: 8;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  src: url('./assets/fonts/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2') format('woff2');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}


p, desc {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

input {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

b {
  font-weight: 600;
}

.money {
  font-size: 16px;
}

.money > b {
  font-size: 20px;
  margin-right: 2px;
  font-weight: bold;
}

.material-symbols-rounded {
  pointer-events: none;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 18px;
  }
  
  p, desc {
    font-size: 14px;
  }

  .money > b {
    font-size: 16px;
  }
}