:root {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  overflow-x: hidden;
  scroll-behavior: smooth;

  color: var(--color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color: #333;
  --border: #eee;
  --bolder: #ccc;
  --accent: #10ba00;
  --light: #757575;
  --background: rgba(0,0,0,0.03);
  --bannerCount: 8;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('./assets/fonts/Pretendard-Light.subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('./assets/fonts/Pretendard-Regular.subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('./assets/fonts/Pretendard-Medium.subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('./assets/fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('./assets/fonts/Pretendard-Bold.subset.woff2') format('woff2');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}


p, desc {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

input {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

b {
  font-weight: 600;
}

.money {
  font-size: 16px;
}

.money > b {
  font-size: 20px;
  margin-right: 2px;
  font-weight: bold;
}

.material-symbols-rounded {
  pointer-events: none;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 18px;
  }
  
  p, desc {
    font-size: 14px;
  }

  .money > b {
    font-size: 16px;
  }
}

.material {
  display: inline-block;
  width: 24px;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
}

.material-add {
  background-image: url('./assets/icons/add.svg');
}
.material-remove {
  background-image: url('./assets/icons/remove.svg');
}
.material-add-shopping-cart {
  background-image: url('./assets/icons/add_shopping_cart.svg');
}
.material-close {
  background-image: url('./assets/icons/close.svg');
}
.material-delete {
  background-image: url('./assets/icons/delete.svg');
}
.material-done {
  background-image: url('./assets/icons/done.svg');
}
.material-hide-image {
  background-image: url('./assets/icons/hide_image.svg');
}
.material-shopping-cart {
  background-image: url('./assets/icons/shopping_cart.svg');
}
.material-arrow-back {
  background-image: url('./assets/icons/arrow_back.svg');
}
.material-arrow-forward {
  background-image: url('./assets/icons/arrow_forward.svg');
}